@use "./base/typography";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  width: 400px;
}

.card_content {
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 3s;
  background: pink;
  transform-style: preserve-3d;
}

.card:hover .card_content {
  transform: rotateY(.5turn);
}

.card_front,
.card_back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card_front {
  background: lightgreen;
  background-image: url('../images/hbd.jpg');
  background-size: cover;
}

.card_title {
  font-size: 3rem;
  transform: translateZ(6rem);
}

.card_subtitle {
  transform: translateZ(4rem);
}

.card_body {
  transform: translateZ(3rem);
}

.card_back {
  transform: rotateY(.5turn);
  background: lightblue;
  background-image: url('../images/hbd2.jpg');
  background-size: cover;
}
